/* marquee */

:root{
  --color-text:#ffffff;
  --colog-bg:#000;
  --color-bg-accent:#696868;
  --size:clamp(10rem, 1rem + 40vmin, 30rem);
  --gap:calc(var(--size) / 14);
  --duration:60s;
  --scroll-start:0;
  --scroll-end:calc(-100% - var(--gap));
}

.marq {
  display: grid;
  align-content: center;
  overflow: hidden;
  gap:var(--gap);
  width: 100%;
  /* min-height: 100vh; */
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--colog-bg);
  padding: 32px 0px;
}

.marquee{
  display: flex;
  overflow: hidden;
  user-select: none;
  gap:var(--gap);
}
.marquee_group{
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap:var(--gap);
  min-width: 100%;
  animation: scroll-x var(--duration) linear infinite;
}
.marquee-reverse .marquee_group{
  animation-direction: reverse;
  animation-delay: -3s;
}
@keyframes scroll-x{
  from{transform: translateX(var(--scroll-start));}
  to{transform: translateX(var(--scroll-end));}
}
.fa{font-size: 70px!important}
.marquee .fa{
  display: grid;
  place-items:center;
  width: var(--size);
  fill: var(--color-text);
  background: var(--color-bg-accent);
  aspect-ratio:19/9;
  padding: calc(var(--size) / 10);
  border-radius: 0.5rem;
}
.wrapper{
  display: flex;
  flex-direction: column;
  gap:var(--gap);
  margin: auto;
  max-width: 100vw;
}